<footer class="footer">
  <small>
    The <a href="#/">e-shop</a>
    by <a href="#">プロペラ企画</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", new_contact_path %></li>
    </ul>
  </nav>
</footer>
